.content
{
    margin-top: 100px;
}

.styledTable
{
    border-collapse: collapse;
    margin: auto;
    font-size: .9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr
{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styledTable th
{
    text-align: center;
}

.styledTable th,
.styledTable td
{
    padding: 12px 15px;
}

.styledTable tbody tr
{
    border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type
{
    border-bottom: 2px solid #009879;
}

.btn
{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnEdit
{
    background-color: red;
}

.btnDelete
{
    background-color: #f44336;
}

.btnView
{
    background-color: #e7e7e7;
    color: black;
}

.dropdown
{
    width: 20%;
    margin: 5px;
}

.btnReset
{
    background-color: darkolivegreen;
    color: black;
}

.btnActive
{
    background-color: #808c4a;
    color: black;
}

.btnInactive
{
    background-color: #445f61;
    color: black;
}
